<!DOCTYPE html>
<html>
   <head>

      <title>Error</title>
   </head>
   <body>
      Fehlermeldung: <%= message %> <br>
      Bitrate: <%= bitrate %> in kb/s <br>
      Duration: <%= duration %> in s <br>

      <a href="\">Neue Rechnung</a> 
   </body>
</html>
